<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="formGroup">
            <div class="container d-grid gap-3">
              <div class="row mb-2" *ngIf="mode != 2">
                <div class="col-4">Id:</div>
                <div class="col-8">
                  {{ serviceExecution.id }}
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-4">Cliente id</div>
                <div class="col-8">
                  {{serviceExecution.customer_id}}
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-4">Servicio</div>
                <div class="col-8" *ngIf="mode!=1">
                  <select
                    class="form-control"
                    formControlName="idService"
                    [(ngModel)]="serviceExecution.service.id"
                  >
                    <option
                      *ngFor="let service of services"
                      [value]="service.id"
                    >
                      Nombre: {{ service.name_service }}
                    </option>
                  </select>
                </div>
                <div class="col-8" *ngIf="mode==1">
                  {{serviceExecution.service.name_service}}
                </div>
              </div>
              <div class="row mb-2" *ngIf="showHeadquarterAndRoom">
                <div class="col-4">
                    Sede
                </div>
                <div class="col-8" *ngIf="mode!=1">
                    <select class="form-control" formControlName="idHeadquarter"
                        [(ngModel)]="serviceExecution.headquarter.id">
                        <option *ngFor="let option of headquarters" [value]="option.id">Id:
                            {{option.id}} - Nombre: {{option.name}} - Ciudad:{{option.city}} </option>
                    </select>
                </div>
                <div class="col-8" *ngIf="mode==1">
                  {{serviceExecution.headquarter.id}} - {{serviceExecution.headquarter.name}}- {{serviceExecution.headquarter.city}}
                </div>
              </div>

              <div class="row mb-2" *ngIf="showHeadquarterAndRoom">
                <div class="col-4">
                    Sala
                </div>
                <div class="col-8" *ngIf="mode!=1">
                    <select class="form-control" formControlName="idRoom"
                        [(ngModel)]="serviceExecution.room.id">
                        <option *ngFor="let option of rooms" [value]="option.id">Nombre:
                          {{option.room_name}} - Capacidad: {{option.room_capacity}} - Disponible: {{option.is_available ? 'Sí' : 'No'}} </option>
                    </select>
                </div>
                <div class="col-8" *ngIf="mode==1">
                  {{serviceExecution.room.name}} - {{serviceExecution.room.capacity}}
                </div>
              </div>
              
              <div class="row mb-2" *ngIf="mode == 1">
                <div class="col-4">Código:</div>
                <div class="col-8">
                  {{ serviceExecution.unique_code }}
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-4"></div>
                <div class="col-8">
                  <div class="d-flex align-items-center justify-content-center">
                    <button
                      *ngIf="mode == 2"
                      class="btn btn-primary btn-block"
                      (click)="create()"
                    >
                      Crear
                    </button>
                    <button
                      *ngIf="mode == 3"
                      class="btn btn-primary btn-block"
                      (click)="update()"
                    >
                      Actualizar
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="mode == 1" class="mt-2">
                <div class="d-flex align-items-center justify-content-center">
                  <button type="button" class="btn btn-info" (click)="chats()">
                    Chats
                  </button>
                  <button
                    type="button"
                    class="btn btn-info"
                    (click)="comments()"
                  >
                    Comentarios
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
