<div class="planes-section">
    <div class="container">
      <h2 class="section-title">Tipos de Planes</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="plan-box">
            <h3 class="plan-title">Plan Básico</h3>
            <ul class="plan-features">
              <li>⦿ Servicio de Sepultura</li>
            </ul>
            <p class="plan-description">Incluye el servicio básico de sepultura con opción de personalizar según tus necesidades.</p>
            <a class="nav-link" routerLink="/plans" routerLinkActive="active" class="btn btn-primary">Solicitar Plan</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="plan-box">
            <h3 class="plan-title">Plan Tradicional</h3>
            <ul class="plan-features">
              <li>⦿ Servicio de Sepultura</li>
              <li>⦿ Servicio de Cremación</li>
            </ul>
            <p class="plan-description">Ofrece servicios tanto de sepultura como de cremación para adaptarse a diferentes preferencias.</p>
            <a class="nav-link" routerLink="/plans" routerLinkActive="active" class="btn btn-primary">Solicitar Plan</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="plan-box">
            <h3 class="plan-title">Plan Premium</h3>
            <ul class="plan-features">
              <li>⦿ Servicio de Sepultura</li>
              <li>⦿ Servicio de Cremación</li>
              <li>⦿ Servicio de Traslado</li>
            </ul>
            <p class="plan-description">El plan más completo que incluye sepultura, cremación y traslado, asegurando un servicio integral.</p>
            <a class="nav-link" routerLink="/plans" routerLinkActive="active" class="btn btn-primary">Solicitar Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
