/* Footer styles */
.footer {
  background-color: #cfac7d; /* Beige más oscuro */
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.footer p{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreado del texto */

}





  