<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">
            Use these awesome forms to login or create new account in your
            project for free.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign up with credentials</small>
          </div>
          <form role="form" [formGroup]="theFormGroup">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-hat-3"></i
                  ></span>
                </div>
                <input
                  formControlName="name"
                  class="form-control"
                  [(ngModel)]="user.name"
                  placeholder="Name"
                  type="text"
                />
                <div>
                  <div
                    *ngIf="
                      getTheFormGroup.name.errors &&
                      (getTheFormGroup.name.dirty ||
                        getTheFormGroup.name.touched ||
                        trySend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.name.errors.required"
                      class="msnError"
                    >
                      Nombre es requerido</strong
                    >
                    <strong
                      *ngIf="getTheFormGroup.name.errors.minlength"
                      class="msnError"
                      >Inválido</strong
                    >
                    <strong
                      *ngIf="getTheFormGroup.name.errors.maxlength"
                      class="msnError"
                    >
                      Invalido
                    </strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  formControlName="email"
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  [(ngModel)]="user.email"
                />
                <div>
                  <div
                    *ngIf="
                      getTheFormGroup.email.errors &&
                      (getTheFormGroup.email.dirty ||
                        getTheFormGroup.email.touched ||
                        trySend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.email.errors.required"
                      class="msnError"
                    >
                      Email es requerido</strong
                    >
                    <strong
                      *ngIf="getTheFormGroup.email.errors.pattern"
                      class="msnError"
                    >
                      Email inválido</strong
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                  type="password"
                  [(ngModel)]="user.password"
                />
                <div>
                  <div
                    *ngIf="
                      getTheFormGroup.password.errors &&
                      (getTheFormGroup.password.dirty ||
                        getTheFormGroup.password.touched ||
                        trySend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.password.errors.required"
                      class="msnError"
                    >
                      Password es requerido</strong
                    >
                    <strong
                      *ngIf="getTheFormGroup.password.errors.minlength"
                      class="msnError"
                      >Inválido</strong
                    >
                    <strong
                      *ngIf="getTheFormGroup.password.errors.maxlength"
                      class="msnError"
                    >
                      Invalido
                    </strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-muted font-italic">
              <small
                >password strength:
                <span class="text-success font-weight-700">strong</span></small
              >
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div
                  class="custom-control custom-control-alternative custom-checkbox"
                >
                  <input
                    formControlName="agree"
                    class="custom-control-input"
                    id="customCheckRegister"
                    [(ngModel)]="agree"
                    type="checkbox"
                  />
                  <div>
                    <div
                      *ngIf="
                        getTheFormGroup.agree.errors &&
                        (getTheFormGroup.agree.dirty ||
                          getTheFormGroup.agree.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.agree.errors.required"
                        class="msnError"
                      >
                        Agree es requerido</strong
                      >
                    </div>
                  </div>
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted"
                      >I agree with the <a href="#!">Privacy Policy</a></span
                    >
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-block" (click)="create()">
                Crear cuenta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
