<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="theFormGroup">
                        <div class="container d-grid gap-3">
                            <div *ngIf="mode!=2" class="row mb-1">
                                <div class="col-4">Cremacion Id:</div>
                                <div class="col-8">
                                    {{ cremation.id }}
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-4">Ubicacion:</div>
                                <div class="col-8">
                                    <input *ngIf="mode!=1" type="text" class="form-control" [(ngModel)]="cremation.location"
                                        formControlName="location" />
                                    <div>
                                        <div
                                            *ngIf="getTheFormGroup.location.errors && (getTheFormGroup.location.dirty || getTheFormGroup.location.touched ||trySend)">
                                            <strong *ngIf="getTheFormGroup.location.errors.required" class="msnError">
                                                La ubicación es requerida</strong>
                                            <strong *ngIf="getTheFormGroup.location.errors.minlength"
                                                class="msnError">Al menos 3 caracteres</strong>
                                            <strong *ngIf="getTheFormGroup.location.errors.maxlength"
                                                class="msnError">Máximo 50 caracteres</strong>
                                        </div>
                                    </div>
                                    <span *ngIf="mode == 1">{{cremation.location}}</span>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-4">Fecha:</div>
                                <div class="col-8">
                                    <input *ngIf="mode!=1" type="text" class="form-control" [(ngModel)]="cremation.date"
                                        formControlName="date" />
                                    <div>
                                        <div
                                            *ngIf="getTheFormGroup.date.errors && (getTheFormGroup.date.dirty || getTheFormGroup.date.touched ||trySend)">
                                            <strong *ngIf="getTheFormGroup.date.errors.required" class="msnError">
                                                La fecha es requerida</strong>
                                            <strong *ngIf="getTheFormGroup.date.errors.minlength"
                                                class="msnError">Al menos 3 caracteres</strong>
                                            <strong *ngIf="getTheFormGroup.date.errors.maxlength"
                                                class="msnError">Máximo 50 caracteres</strong>
                                        </div>
                                    </div>
                                    <span *ngIf="mode == 1">{{cremation.date |date: 'dd/MM/yyyy'}}</span>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-4">Precio:</div>
                                <div class="col-8">
                                    <input *ngIf="mode!=1" type="number" class="form-control" [(ngModel)]="cremation.price"
                                        formControlName="price" />
                                    <div>
                                        <div
                                            *ngIf="getTheFormGroup.price.errors && (getTheFormGroup.price.dirty || getTheFormGroup.price.touched ||trySend)">
                                            <strong *ngIf="getTheFormGroup.price.errors.required" class="msnError">
                                                El precio es requerido</strong>
                                            <strong *ngIf="getTheFormGroup.price.errors.min" class="msnError">El precio debe ser
                                                mayor a 0</strong>
                                            <strong *ngIf="getTheFormGroup.price.errors.pattern" class="msnError">El precio
                                                debe ser un número</strong>
                                        </div>
                                    </div>
                                    <span *ngIf="mode == 1">{{cremation.price}}</span>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-4">Estado:</div>
                                <div class="col-8">
                                    <select *ngIf="mode!=1" class="form-control" [(ngModel)]="cremation.is_available"
                                        formControlName="is_available">
                                        <option [value]='true'>Sí</option>
                                        <option [value]='false'>No</option>
                                    </select>
                                    <div>
                                        <div
                                            *ngIf="getTheFormGroup.is_available.errors && (getTheFormGroup.is_available.dirty || getTheFormGroup.is_available.touched ||trySend)">
                                            <strong *ngIf="getTheFormGroup.is_available.errors.required" class="msnError">
                                                El estado es requerido</strong>
                                        </div>
                                    </div>
                                    <span *ngIf="mode == 1">{{cremation.is_available ? 'Sí' : 'No'}}</span>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button *ngIf="mode == 2" class="btn btn-primary btn-block" (click)="create()">
                                            Crear
                                        </button>
                                        <button *ngIf="mode == 3" class="btn btn-primary btn-block" (click)="update()">
                                            Actualizar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
