<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
        </div>
        <div class="card-body">
          <div class="container d-grid gap-3">
            <div class="row mb-1">
              <div class="col-4">Id:</div>
              <div class="col-8">
                {{ subscription.id }}
              </div>
            </div>
            <div class="row mb-1" *ngIf="mode == 1">
              <div class="col-4">Cliente id</div>
              <div class="col-8">
                {{ subscription.customer_id }}
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-4">Nombre:</div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="subscription.plan_id" [disabled]="mode == 1" />
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-4">Fecha de inicio:</div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="subscription.start_date "
                  [disabled]="mode == 1" />
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-4">Fecha Fin:</div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="subscription.end_date" [disabled]="mode == 1" />
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-4">Monto Mensual:</div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="subscription.monthly_fee" [disabled]="mode == 1" />
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-4">Pagó:</div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="subscription.is_paid" [disabled]="mode == 1" />
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-4"></div>
              <div class="col-8">
                <div class="d-flex align-items-center justify-content-center">
                  <button *ngIf="mode == 2" class="btn btn-primary btn-block" (click)="create()">
                    Crear
                  </button>
                  <button *ngIf="mode == 3" class="btn btn-primary btn-block" (click)="update()">
                    Actualizar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>