<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Actualizar</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Crear</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="theFormGroup">
            <div class="container d-grid gap-3">
              <div class="row" *ngIf="mode == 1">
                <div class="col-4">Id:</div>
                <div class="col-8">
                  {{ owner.id }}
                </div>
              </div>
              <div class="row">
                <div class="col-4">Customers</div>
                <div class="col-8">
                  <select
                    class="form-control"
                    [(ngModel)]="owner.customer_id"
                    formControlName="customer_id"
                  >
                    <option
                      *ngFor="let customer of customers"
                      [selected]="owner.customer_id"
                      [value]="customer.id"
                      [disabled]="mode == 2"
                    >
                      Nombre: {{ owner.name || customer.name }} - Documento:
                      {{ owner.customer.document || customer.document }}
                    </option>
                  </select>
                  <div>
                    <div
                      *ngIf="
                        getTheFormGroup.customer_id.errors &&
                        (getTheFormGroup.customer_id.dirty ||
                          getTheFormGroup.customer_id.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.customer_id.errors.required"
                        class="msnError"
                      >
                        Cliente es requerido</strong
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">Fecha de inicio:</div>
                <div class="col-8">
                  <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="owner.start_date"
                    formControlName="start_date"
                  />
                  <div>
                    <div
                      *ngIf="
                        getTheFormGroup.start_date.errors &&
                        (getTheFormGroup.start_date.dirty ||
                          getTheFormGroup.start_date.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.start_date.errors.required"
                        class="msnError"
                      >
                        fecha inicial es requerida</strong
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">Fecha final:</div>
                <div class="col-8">
                  <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="owner.end_date"
                    formControlName="end_date"
                  />
                  <div>
                    <div
                      *ngIf="
                        getTheFormGroup.end_date.errors &&
                        (getTheFormGroup.end_date.dirty ||
                          getTheFormGroup.end_date.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.end_date.errors.required"
                        class="msnError"
                      >
                        fecha final es requerida</strong
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-4"></div>
                <div class="col-8">
                  <button
                    *ngIf="mode == 2"
                    class="btn btn-primary btn-block"
                    (click)="update()"
                  >
                    Actualizar
                  </button>
                  <button
                    *ngIf="mode == 3"
                    class="btn btn-primary btn-block"
                    (click)="create()"
                  >
                    Crear
                  </button>
                </div>
              </div>
              <div *ngIf="mode == 1" class="mt-2">
                <div class="d-flex align-items-center justify-content-center">
                  <button
                    type="button"
                    class="btn btn-info"
                    (click)="beneficiaries()"
                  >
                    Beneficiarios
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
