<div class="services-section text-center">
    <div class="container">
      <h2 class="section-title">Nuestros Servicios</h2>
      <p class="section-description">Descubre los servicios que ofrecemos para acompañarte en los momentos más difíciles.</p>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="service-box">
            <i class="fas fa-cross fa-3x"></i>
            <h3 class="service-title">Servicio de Sepultura</h3>
            <p class="service-description">Ofrecemos servicios de sepultura con el mayor respeto y cuidado, asegurando un lugar digno de descanso para tus seres queridos.</p>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/services']" class="btn btn-primary">Solicitar Servicio</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <i class="fas fa-fire fa-3x"></i>
            <h3 class="service-title">Servicio de Cremación</h3>
            <p class="service-description">Proveemos servicios de cremación con la máxima dignidad, atendiendo cuidadosamente a todas las necesidades de nuestras familias.</p>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/services']" class="btn btn-primary">Solicitar Servicio</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <i class="fas fa-car-side fa-3x"></i>
            <h3 class="service-title">Servicio de Traslado</h3>
            <p class="service-description">Ofrecemos servicios de traslado funerario, asegurando que todo el proceso sea manejado con la mayor delicadeza y respeto.</p>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/services']" class="btn btn-primary">Solicitar Servicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
